<div class="jumbotron text-center">
  <div data-ng-bind-html="status"></div>
  <div ng-show="pods.length">
  <div class="wrapper">
  <div class="filterBox" style="float: left;">
    <p class="smallFont">Filter:</p>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Name</span>
      <input type="text" class="form-control" placeholder="Name of Pod" aria-describedby="basic-addon1" ng-model="filterName">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Namespace</span>
      <input type="text" class="form-control" placeholder="Namespace of pod" aria-describedby="basic-addon1" ng-model="filterNamespace">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Nodename</span>
      <input type="text" class="form-control" placeholder="Nodename where the Pod is running" aria-describedby="basic-addon1" ng-model="filterNodeName">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">HostIP</span>
      <input type="text" class="form-control" placeholder="HostIP of Pod" aria-describedby="basic-addon1" ng-model="filterHostIP">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Container</span>
      <input type="text" class="form-control" placeholder="Container Name or Image" aria-describedby="basic-addon1" ng-model="filterContainer">
    </div>
  </div>

</div>
  <table class="table table-bordered table-striped" ng-show="filteredPods.length">

    <thead>
      <tr>
        <th>Name</th>
        <th>Namespace</th>
        <th>Nodename</th>
        <th>HostIP</th>
        <th>Container</th>
      </tr>
    </thead>

  <tbody>
    <tr ng-repeat="pod in (filteredPods = (pods | filter:{name:filterName} | filter:{namespace:filterNamespace} |
    filter:{nodeName:filterNodeName} | filter:{hostIP:filterHostIP} |
    filter:{containers:filterContainer} | orderBy:orderBy:orderAsc))">
      <th scope="row">{{ pod.name }}</th>
      <td>{{ pod.namespace }}</td>
      <td>{{ pod.nodeName }}</td>
      <td>{{ pod.hostIP }}</td>
      <td><div ng-repeat="container in pod.containers" style="margin-bottom: 5px;">
        Name: {{ container.name }}
        <br/> Image: {{ container.image }}
      </div></td>
    </tr>
  </tbody>
  </table>
  <br>
  <p ng-show="!filteredPods.length">No Pods found</p>
  </div>
</div>
