<div class="jumbotron text-center">
  <div data-ng-bind-html="status"></div>
  <div ng-show="replicationcontrollers.length">

  <p class="smallFont">Filter:</p>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Name of RC" aria-describedby="basic-addon1" ng-model="filterName">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Namespace</span>
        <input type="text" class="form-control" placeholder="Namespace of RC" aria-describedby="basic-addon1" ng-model="filterNamespace">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Desired replicas</span>
        <input type="text" class="form-control" placeholder="Desired amount of replications" aria-describedby="basic-addon1" ng-model="filterDesiredReplicas">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Real replicas </span>
        <input type="text" class="form-control" placeholder="Real amount of replications" aria-describedby="basic-addon1" ng-model="filterRealReplicas">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Container</span>
        <input type="text" class="form-control" placeholder="Container Name or Image" aria-describedby="basic-addon1" ng-model="filterContainer">
      </div>
    </div>
  </div>
  <table class="table table-bordered table-striped" ng-show="filteredRCs.length">

    <thead>
      <tr>
        <th><a href="" ng-click="orderBy='name';orderAsc=!orderAsc">
          Name
          <span ng-show="orderBy=='name' && !orderAsc" class="fa fa-caret-down"></span>
          <span ng-show="orderBy=='name' && orderAsc" class="fa fa-caret-up"></span>
        </a></th>
        <th><a href="" ng-click="orderBy='namespace';orderAsc=!orderAsc">
          Namespace
          <span ng-show="orderBy=='namespace' && !orderAsc" class="fa fa-caret-down"></span>
          <span ng-show="orderBy=='namespace' && orderAsc" class="fa fa-caret-up"></span>
        </a></th>
        <th><a href="" ng-click="orderBy='desiredReplicas';orderAsc=!orderAsc">
          Desired Replicas
          <span ng-show="orderBy=='desiredReplicas' && !orderAsc" class="fa fa-caret-down"></span>
          <span ng-show="orderBy=='desiredReplicas' && orderAsc" class="fa fa-caret-up"></span>
        </a></th>
        <th><a href="" ng-click="orderBy='realReplicas';orderAsc=!orderAsc">
          Real Replicas
          <span ng-show="orderBy=='realReplicas' && !orderAsc" class="fa fa-caret-down"></span>
          <span ng-show="orderBy=='realReplicas' && orderAsc" class="fa fa-caret-up"></span>
        </a></th>
        <th><a href="" ng-click="orderBy='containers';orderAsc=!orderAsc">
          Container
          <span ng-show="orderBy=='containers' && !orderAsc" class="fa fa-caret-down"></span>
          <span ng-show="orderBy=='containers' && orderAsc" class="fa fa-caret-up"></span>
        </a></th>
      </tr>
    </thead>

  <tbody>
    <tr ng-repeat="rc in (filteredRCs = (replicationcontrollers | filter:{name:filterName} | filter:{namespace:filterNamespace} |
    filter:{desiredReplicas:filterDesiredReplicas} | filter:{realReplicas:filterRealReplicas} |
    filter:{containers:filterContainer} | orderBy:orderBy:orderAsc))">
      <th scope="row">{{ rc.name }}</th>
      <td>{{ rc.namespace }}</td>
      <td>{{ rc.desiredReplicas }}</td>
      <td>{{ rc.realReplicas }}</td>
      <td><div ng-repeat="container in rc.containers" style="margin-bottom: 5px;">
        Name: {{ container.name }}
        <br/> Image: {{ container.image }}
      </div></td>
    </tr>
  </tbody>
  </table>
  <br>
  <p ng-show="!filteredRCs.length">No Replicationcontroller found</p>
  </div>
</div>
