.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 60px;
  padding: 3px; /* firefox bug fix */
  width: auto;
}
.navbar li a {
  padding: 20px;
}
.box {
  width: 500px;
  background-color: blue;
  color: white;
  margin: auto;
  margin-top: 5px;
}
.boxSmallFont {
  font-size: 15px;
}
.innerBox {
  background-color: white;
  color: black;
}
